.cartItem {

    display: flex;
    justify-content: center;
    width: 600px;

    padding-bottom: 1rem;
}

.cartItem__inner {
    background-color: #fff;
    color: #000;
}

.cart__actions {
    text-align: center;

}

.add__book, .minus__book {
    width: 3rem;
    height: 3rem;
    border-radius: 20%;
}

.add__book {
    background-color: greenyellow;

}

.minus__book {
    background-color: red;
}